body{
    padding: 50px;
    /* background-color: rgb(155, 238, 134); */
    background: #ffffff url("img/1.jpg") no-repeat top center;
    font-family: sans-serif;
    min-height:100%;
    /* background-size:cover; */

}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
}